.heading {
    /* background-color: #85D6FF; */
    background: linear-gradient(to left, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    padding: 3% 5%;
    color: floralwhite;
    clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0);
    height: 70vh;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    color: #09354B;
    /* color: white; */
    font-weight: 900;
}

.heading-content {
    margin-top: 2%;
    color: #000;
}

h5 {
    margin-top: 2%;
}